.DS_Store
**/.DS_Store

DPSS/.idea

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

DPSS/DPSS.iml